/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decorated-zone-color: #ff0070;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --header-title-color: #db00ff;
  --header-title-shadow-color: #ff0070;
  --font-color: #000028;
  --section-title-color: #ff0070;
  --title-decor: #ff0070;
  --card-text-color: #F1B2CE;
  --card-text-accent-shadow: #FF0070;
  --footer-title-color: #db00ff;
  --footer-title-shadow-color: #ff0070;
}

.theme-dark .rec {
  display: flex;
}
