/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #FFC2E6;
  --decorated-zone-color: #353430;
  --menu-color: #353430;
  --header-title-color: #FFC2E6;
  --header-title-shadow-color: #FF8DCB;
  --font-color: #353430;
  --section-title-color: #353430;
  --title-decor: #FF8DCB;
  --card-text-color: #353430;
  --card-text-accent-shadow: #FF8DCB;
  --footer-title-color: #FFC2E6;
  --footer-title-shadow-color: #ff0070;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --accent-color: #FFC2E6;
    --decorated-zone-color: #353430;
    --menu-color: #353430;
    --header-title-color: #FFC2E6;
    --header-title-shadow-color: #FF8DCB;
    --font-color: #353430;
    --section-title-color: #353430;
    --title-decor: #FF8DCB;
    --card-text-color: #353430;
    --card-text-accent-shadow: #FF8DCB;
    --footer-title-color: #FFC2E6;
    --footer-title-shadow-color: #ff0070;
  }

  .rec {
    display: none;
  }
}